#app {
  font-family: "Segoe UI", "Times New Roman", Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #8195bb;
}

body {
  background-color: #0f172a;
}

h1 {
  color: #ffffff;
  margin: 0;
}