@import "variables";

#app {
  font-family: "Segoe UI", Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $baseFontColor;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $backgroundColor;
}

h1 {
  color: $h1Color;
  margin: 0;
}